{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    <div class="px-4 bg-white pt-4 w-full">
        <ul>
            {% for user in users %}
            <li>{{ user.Username }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
