<footer class="w-full h-20 bg-blue-parakeet border-t-2 border-black z-10">

        <div>
            Site créé dans le cadre du projet 040-P_Web2 de l'ETML par Francis et Don Fricoli.
        </div>

</footer>