<header>
    <nav class="bg-red-400 p-2">
        <div class="container mx-auto flex items-center justify-between flex-wrap">
            <a href="#">
                <div class="flex items-center flex-shrink-0 text-white mr-6">
                    <img src="images/logo.png" alt="Notre petit perroquet" class="w-24">
                    <span class="font-semibold text-5xl ml-2 tracking-tight">Didactic Parakeet</span>
                </div>
            </a>
            <div class="text-lg lg:mt-0 text-white">
                <a href="#" class="mr-2 hover:text-teal-700">
                    Se connecter
                </a>
                <a href="#" class="hover:text-teal-700">
                    S'inscrire
                </a>
            </div>  
            <!-- <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                    <a href="data.html" class="block mt-4 lg:inline-block text-lg lg:mt-0 hover:text-teal-700 mr-4 text-white">
                        Repas
                    </a>
                    <a href="stats.html" class="block mt-4 lg:inline-block lg:mt-0 hover:text-teal-700 mr-4 text-white">
                        Statistiques
                    </a>
                </div>
            </div> -->
        </div>
    </nav>
</header>