<nav class="overflow-hidden bg-red-parakeet flex shadow md:w-32 lg:w-56 min-h-full top-0 bottom-0 fixed z-1 pt-30 pb-20 border-r-2 border-black">
    <ul class="list-reset w-full text-white font-bold md:text-lg lg:text-2xl text-center">
        <li>
            <a href="#" class="block p-4 bg-red-parakeet hover:bg-red-600 hover:text-yellow-parakeet-light">Home</a>
        </li>
        <li>
            <a href="#" class="block p-4 bg-red-parakeet hover:bg-red-600 hover:text-yellow-parakeet-light">About us</a>
        </li>
        <li>
            <a href="#" class="block p-4 bg-red-parakeet hover:bg-red-600 hover:text-yellow-parakeet-light">Services</a>
        </li>
        <li>
            <a href="#" class="nav-item">Contact us</a>
        </li>
    </ul>
</nav>
