<nav class="overflow-hidden flex items-center bg-red-parakeet shadow md:w-32 lg:w-64 min-h-full top-0 bottom-0 fixed z-1 pt-30 pb-20 border-r-2 border-black">
    <ul class="list-reset w-full text-white font-bold md:text-lg lg:text-2xl  ">
        <li>
            <a href="#" class="block p-4">Home</a>
        </li>
        <li>
            <a href="#" class="block p-4">About us</a>
        </li>
        <li>
            <a href="#" class="block p-4">Services</a>
        </li>
        <li>
            <a href="#" class="block p-4">Contact us</a>
        </li>
    </ul>
</nav>
