{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% if books is defined %}
<div class="px-4 bg-white pt-4 w-full">
    {% for book in books %}
        <a href="/book/{{book.Id}}">{{book.Title}}</a><br>
    {% endfor %}
</div>

{% elseif categories is defined %}

<div class="px-4 bg-white pt-4 w-full">
{% for category in categories %}
    <a href="/categories/{{category.Name}}">{{category.Name}}</a><br>
{% endfor %}
</div>

{% endif %}



{% endblock %}
