<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Didactic Parakeet {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="font-body">
        {# REMETTRE LE ".twig" après le ".html" dans header nav et footer #}
        {% include 'partials/header.html' %}
        {% include 'partials/nav.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'partials/footer.html' %}
    </body>
</html>
