<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Didactic Parakeet {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="font-body">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
