<!DOCTYPE html>
<html class='min-h-screen'>
    <head>
        <meta charset="UTF-8">
        <title>Didactic Parakeet
            {% block title %}{% endblock %}
        </title>
        <link rel="icon" href="images/logo.ico"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="font-body flex flex-col h-full">
        {% include 'partials/header.html.twig' %}
        {% include 'partials/nav.html.twig' %}
        <div class="min-h-screen flex flex-col">
            <div class="md:ml-32 lg:ml-56 mt-30 flex flex-grow"> 
                {% block body %}{% endblock %}
            </div>
            {% include 'partials/footer.html.twig' %}
        </div>
        {% block javascripts %}{% endblock %}
        </body>
    </html>
